<h1>Equipe</h1>
<a href="#/equipe/novo/" class="btn">Nova Equipe</a>
<br>
<table class="ranking-table" ng-init="carregaEquipes();">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Competição</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="equipe in equipes track by $index">
            <td>{{ equipe.nome }}</td>
            <td>{{ equipe.competicao.descricao }}</td>
            <td>
                <button ng-click="apagaEquipe(equipe.id)" class="btn">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>