<h1>Counter Strike: Global Offensive</h1>
<table class="ranking-table">
    <thead>
        <tr>
            <th class="small-column">Posição</th>
            <th>Equipe</th>
            <th class="small-column">Vitórias</th>
            <th class="small-column">Derrotas</th>
            <th class="small-column">Pontuação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="small-column">1</td>
            <td>Killers</td>
            <td class="small-column">3</td>
            <td class="small-column">1</td>
            <td class="small-column">9</td>
        </tr>
        <tr>
            <td class="small-column">2</td>
            <td>Killers</td>
            <td class="small-column">3</td>
            <td class="small-column">1</td>
            <td class="small-column">9</td>
        </tr>
        <tr>
            <td class="small-column">3</td>
            <td>Killers</td>
            <td class="small-column">3</td>
            <td class="small-column">1</td>
            <td class="small-column">9</td>
        </tr>
        <tr>
            <td class="small-column">4</td>
            <td>Killers</td>
            <td class="small-column">3</td>
            <td class="small-column">1</td>
            <td class="small-column">9</td>
        </tr>
        <tr>
            <td class="small-column">5</td>
            <td>Killers</td>
            <td class="small-column">3</td>
            <td class="small-column">1</td>
            <td class="small-column">9</td>
        </tr>
    </tbody>
</table>